header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 1000;
}
header .left img{
    height: 32px;
    padding: auto 20px;
    cursor: pointer;
}
header .left{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .left nav{
    display: flex;
    gap: 20px;
}
header .left nav div{
    padding: 5px 8px;
    transition: transform 0.3s ease;
}
header .left nav div:hover{
   transform: scale(1.1);
   cursor: pointer;
   box-sizing: border-box;
}

header .right{
    display: flex;
    align-items: center;
    gap: 15px;
}
header .user-container{
    position: relative;
    gap: -10px;
}

header .dropdown{
    /* margin-top: 10px; */
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background-color: rgb(37, 37, 37);
    padding: 5px 0;
    border-radius: 7px;
}
header ul li{
     padding: 5px 15px;
}
header ul{
    list-style: none;
}
header ul li:hover{
    background-color: black;
    width: 100%;
    cursor: pointer;
}
header .user-container:hover .dropdown{
    display:block;
}
.menu-icon{
    display: none;
}
.small-nav{
    display: none;
}


/* Tablet and small screen Style */
@media (max-width:900px){
    header .left nav {
       display: none;
    }
    header .right, header .left{
        z-index: 1000;
    }
    .menu-icon{
         display: block;
         border-radius: 100px;
         padding: 5px;
    }
    .menu-icon:hover{
         border-radius: 100px; 
         background-color: rgb(32, 32, 32);
         cursor: pointer;
    }

    .small-nav{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-color: rgb(26, 26, 26);
        padding: 10px 2px;
    }

    .small-nav nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .small-nav nav div{
        padding: 10px 13px;
        border-radius: 10px;
    }
    .small-nav nav div:hover{
        background-color: black;
        cursor: pointer;
    }
    .hide{
        display: none;
    }
    .show{
        display: block;
    }
}
